html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
}

input {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 10px;
}

button {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

div.mainChat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.messagesContainer {
    display: flex;
    flex-wrap: wrap;
}

div.messagesBox,
div.userNames {
    background-color: #ddd;
    text-align: left;
    height: 600px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 15px;
}

div.userNames {
    margin-left: 10px;
    height: 200px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

h1 {
    color: white;
}

.usernameForm {
    background-color: #ddd;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

button#usernameButton {
    height: 40px;
    margin-bottom: 10px;
}

div.usernameErrorContainer {
    width: 400px;
    height: 50px;
    background-color: rgb(255, 114, 114);
    color: white;
    border: 1px solid red;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    div.messagesBox, div.userNames {
        flex-direction: column;
        width: 100%;
    }

    div.messagesContainer {
        flex-wrap: wrap-reverse;
    }
}

html::-webkit-scrollbar, body::-webkit-scrollbar, div.messagesBox::-webkit-scrollbar {
    width: 7px;
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, div.messagesBox::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track, div.messagesBox::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}